/* importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f6fafc;
}

/* SECCION I N I C I O */
.inicio{
    background:linear-gradient(to right, #000c67, #007be5);
    clip-path: polygon(0 0, 100% 0, 100% 46%, 47% 84%, 0 45%);
    height: 90vh;
    padding:  0 20px;
}
.inicio .contenido{
    max-width: 1100px;
    margin: auto;
    color: #fff;
}
.inicio header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.inicio .logo{
    display: flex;
    align-items: center;
    color: #00deef;
    font-size: 25px;
}
.inicio .logo i{
    display: inline-block;
    margin-right: 20px;
}
#inicio header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}
#inicio header nav a:hover{
    border-bottom: 2px solid #ff5b00;
}
.inicio .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}
.inicio .redes a:hover{
    color: #ff5b00;
}
.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}
.inicio .fila .col{
    width: 50%;
}
.inicio .fila .col h2{
    margin-bottom: 15px;
    font-size: 40px;
}
.inicio .fila .col p{
    margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img{
    max-width: 400px;
    margin: auto;
}
.inicio .fila .col .contenedor-img img{
    width: 100%;
}
.inicio .fila .col button{
    background: none;
    width: fit-content;
    padding: 5px 40px;
    border: 2px solid #ff5b00;
    color: #fff;
    background:linear-gradient(to right, #ff5b00, #ff9900);
    transition: .5s;
    cursor: pointer;
}
.inicio .fila .col button:hover{
    transform: scale(1.1);
}
#icono-nav{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}
#icono-nav:hover{
    background-color: #3e3e3e;
}
.sombra{
    filter:drop-shadow(0em 30px 20px #9bd2f4);
}
/* SECCION S E R V I C I O S */
.servicios{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -170px;
    z-index: 10;
}
.servicios .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.servicios .fila .col{
    text-align: center;
    width: 30%;
}
.servicios .fila .col .card{
    border: 1px solid #8d8d8d;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}
.servicios .icono{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.servicios .icono .circulo{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.color1{
    background: linear-gradient(#ff9900, #ff5b00);
}
.color2{
    background: linear-gradient(#038aee, #0039a9);
}
.color3{
    background: linear-gradient(#04e2ee, #017795);
}
.servicios h3{
    margin-bottom: 20px;
}
.servicios .card p{
    color: #8d8d8d;
    line-height: 28px;
    font-size: 12px;
}
.servicios .card a{
    text-decoration: none;
    color: #008cff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
/* seccion HABILIDADES */
.habilidades{
    background:linear-gradient(to right, #000c76, #007be5);
    color: #fff;
    padding: 60px 0;
    position: relative;
    top: -100px;
}
.habilidades h2{
    text-align: center;
}
.habilidades .contenedor-habi{
    max-width: 1100px;
    margin: auto;
}
.habilidades .fila{
    display: flex;
    justify-content: space-around;
}
.score{
    padding: 10px;
    margin: auto 0;
}
.score .box{
    width: 100%;
}
.score .box h2{
    display: block;
    text-align: center;
}
.score .box .chart{
    position: relative;
    width: 160px;
    height: 160px;
    margin: auto;
    line-height: 160px;
    font-size: 40px;
    text-align: center;
}

/* Esta clase se genera dinámicamente por la librera para graficos */
.score .box canvas{
    position:absolute;
    top: 0;
    left: 0;
}
/* SECCION T R A B A J O S */
.trabajos{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.trabajos h2{
    text-align: center;
}
.trabajos nav{
    text-align: center;
    margin: 30px 0;
}
.trabajos nav a{
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: #007be5;
    font-weight: bold;
    padding: 3px 10px;
    border: 3px solid transparent;
}
.trabajos nav a:hover{
    border: 3px solid #ff5b00;
}
/* Esta clase se agregrá dinámicamente cuando haya seleccionada una opción */
.borde{
    border: 3px solid #ff5b00 !important;  
}
.trabajos .galeria .item img{
    width: 100%;
    height: 100%;
    display: block;
}
.trabajos .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap:30px;
}
.trabajos .galeria .item{
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d ;
    border-radius: 10px;
}
.trabajos .galeria .item .info{
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color:#fff ;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}
.trabajos .galeria .item .info h3{
    color: #000;
    margin-bottom: 20px;
}
.trabajos .galeria .item .info span{
    color: #8d8d8d;
    display: inline-block;
    border: 2px solid #8d8d8d;
    margin: 0 3px;
    padding:  0 5px;
}
.trabajos .galeria .item .info a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: #007be5;
    font-weight: bold;
}
.trabajos .galeria .item:hover .info{
    opacity: 1;
    top: 0;
}
/* SECCIÓN C O N T A C T O */
.contacto{
    background:
        linear-gradient(rgba(0,12,103,1), rgba(0,12,103,.8)),
        url(img/foto-contacto.png);
        background-size: cover;
        color: #fff;
        margin-top: 100px;
        padding: 80px 20px;
}
.contacto .contenedor-contacto{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    text-align: center;
    padding-bottom: 30px;
}
.contacto .contenedor-contacto .fila{
    display: flex;
}
.contacto .contenedor-contacto .fila .col{
    width: 50%;
}
.contacto .contenedor-contacto .info{
    margin-bottom: 30px;
    border-left: 3px solid #8d8d8d;
    padding-left: 8px;
}
.contacto .contenedor-contacto .info p{
    color: #8d8d8d;
}
.contacto input, .contacto textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #8d8d8d ;
    margin-bottom: 20px;
    outline: none;
    color: #ff5b00;
}
.contacto .btn{
    background-color: none;
    padding: 5px 40px;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #ff5b00, #ff9900);
}

footer{
    background-color: #000;
    color: #fff;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:1180px){
    .inicio{
        clip-path: none;
    }
}
@media screen and (max-width:800px){
    .redes{
        display: none;
    }
    #nav{
        display: none;
    }
    #nav.responsive{
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a{
        font-size: 30px;
    }
    #icono-nav{
        display: block;
    }

    .inicio{
        height: auto;
    }
    .inicio .fila{
        display: block;
    }
    .inicio .fila .col{
        width: 100%;
        text-align: center;
    }
    .inicio .fila .col h2{
        margin-top: 20px;
    }
    .inicio .fila .col .contenedor-img{
        width: 50%;
        margin-top: 30px;
    }

    .servicios{
        position: static;
        padding: 20px;
    }
    .servicios .fila{
        display: block;
        margin-bottom: 0;
    }
    .servicios .fila .col{
        width: 70%;
        margin: auto;
    }
    .servicios .fila .col .card{
        margin-bottom: 20px;
    }
    .habilidades{
        position: static;
    }

    .trabajos nav a{
        margin: 0 5px;
    }

    .contacto .fila{
        display:  block !important;
    }
    .contacto .fila .col{
        text-align: center;
        width: 100% !important;
    }
    .contacto .fila .col .info{
        float: left;
        font-size: 12px;
        width: 25%;
    }
}